DATABASE_URL="postgresql://geo:geo_dev_pw@localhost:5435/geo_grilagem?schema=public"
JWT_SECRET="dev_super_secret_change_in_prod"
JWT_EXPIRES_IN="8h"
PORT=3001
MINIO_ENDPOINT="localhost"
MINIO_PORT=9004
MINIO_ACCESS_KEY="geo_admin"
MINIO_SECRET_KEY="geo_dev_pw_123"
MINIO_BUCKET="geo-datasets"
MINIO_PUBLIC_URL="http://localhost:9004"
REDIS_URL="redis://localhost:6381"
WEB_ORIGIN="http://localhost:3000"
